<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body class="has-text-primary-dark">
    <nav>
      <a class = "button is-normal is responsive"href='/'>Home</a>
      {{#if isLoggedIn}}
        <a class="button is-normal is responsive " href="/profile">My profile</a> |
        <button class='button btn-create'>Create Post</button>
        <button class="button is-normal is responsive" id="btn-logout">Logout</button>
        {{else}}
        <a href="/login">login</a>
      {{/if}}
    </nav>
    {{{body}}}
    <script src='/js/main.js'></script>
    <script src='/js/logout.js'></script>
  </body>
</html>