
<h1>Home</h1>
{{#if isLoggedIn}}
  <h2>Welcome to Four'm, {{user.username}}!</h2>
  {{!-- form to create new post here once user logs in --}}
   <div class="col-md-6">
    {{!-- future implementation: add a create-post button --}}
    <h3>Create a New Post:</h3> 
    <form action="/upload" method="POST" enctype="multipart/form-data" class="form new-project-form">
      <div class="form-group">
        {{!-- upload image file --}}
        <label for="post-image">Post image here:</label>
        <input class="form-input" type="file" id="post-image" name="image_path" />
        <button type="submit">Upload</button>
      </div>
      <div class="form-group">
        <label for="post-caption">Caption:</label>
        <textarea class="form-input" id="post-caption" name="caption"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
{{/if}}
{{#unless isLoggedIn}}
  <br />
  <a class='btn' href='/signup'>Sign Up</a>
{{/unless}}