<h1>Login</h1>
<form class='login-form'>
  {{!-- username field --}}
  <div class='field'>
    <p class="control has-icons-left has-icons-right">
      {{!-- <label class='username' type='username'>Username</label><br /> --}}
      <input class='input username' type='username' id="username" placeholder='Username' /><br />
      {{!-- <label for='password'>Password</label><br /> --}}
      {{!-- <input class='password' type='password' placeholder='Password' /><br /> --}}
      {{!-- <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span> --}}
    </p>
  </div>
  {{!-- password field --}}
  <div class="field">
    <p class="control has-icons-left">
      <input class="input password" type="password" id="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="login-btn button is-success" type="submit">
        Login
      </button>
    </p>
  </div>
</form>
<p>Don't have an account yet? <a href='/signup'>Sign Up Here</a></p>
<script src='/js/login.js'></script>