<div class="has-text-centered">
<h1 class=" hero is-large has-background-dark">four'm login</h1>
<form class='login-form'>
  {{!-- username field --}}
  <div class='field'>
    <p class="control has-icons-left has-icons-right">
      {{!-- <label class='username' type='username'>Username</label><br /> --}}
      <input class='input username' type='username' id="username-login" placeholder='Username' /><br />
    </p>
  </div>
  {{!-- password field --}}
  <div class="field">
    <p class="control has-icons-left">
      <input class="input password" type="password" id="password-login" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="login-btn button is-success" type="submit">
        Login
      </button>
    </p>
  </div>
</form>
<p>Don't have an account yet? <a href='/signup'>Sign Up Here</a></p>
</div>
<script src='/js/login.js'></script>
<link rel="stylesheet" href="/css/login.css">