 {{!-- comment: deleted div, this file is a view post handlebar; 
    user can create new post in home.handlebars --}}
<div class='post'>
    <div class="image">
        <img src="{{post.image_path}}" alt="{{user.username}}'s post">
    </div>
    <div class="caption">
        <p>{{post.caption}}</p>
    </div>
    {{!-- TODO: add div to display post creation date --}}
</div>