<div class='post'>
    <div class="image">
        <img src='{{post.img_path}}'' alt='{{user.username}}'s post'>
    </div>
    <div class="caption">
        <p>{{post.caption}}</p>
    </div>
    <div class="save-button">
        <button>Save</button>
    </div>
</div>