{{!-- comment: deleted div, this file is a view post handlebar; 
    user can create new post in home.handlebars --}}
<div class='post'>
    <div class="image">
        <a href="/post/{{post.post_id}}">{{{get_image post.image_path}}}</a>
    </div>
    <div class="caption">
        <p>{{post.caption}}</p>
    </div>
    {{!-- TODO: add div to display post creation date --}}
    <div>
        <button class="button is-primary is-light is-normal is responsive" id="btn-follow">Follow</button>
    </div>
</div>
