<div class="user-profile">
  <div class="user-avatar">
    <img src="{{avatar}}" alt="{{name}}'s avatar">
  </div>
  <div class="user-info">
    <h1>{{name}}</h1>
    <!--user info would include number of posts, followers, and following-->
    <p>{{user-info}}</p>
  </div>
</div>
