  <section class="hero is-large has-background-dark">
    {{!-- <h1 class="has-text-centered is-$primary is-size-2 mb-6 ">Sign Up</h1>
  </section> --}}
<div class="has-text-centered" id="login">
    <h1 style="has-text-centered is-$primary is-size-2 mb-6 ">Sign up</h1>
  <form class="signup-form">
    <div class="field">
      <p>
        <input type="text" name="username" id="username" placeholder="Username"/><br />
      </p>
    </div>
    <div class="field">
      <p>
        <input type="password" name="password" id="password" placeholder="Password" /><br />
      </p>
    </div>
    <div class="field">
      <p>
        <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" /><br />
      </p>
    </div>
    <button class="button is-medium is-responsive is-success is-focused" type="submit">
      Submit
    </button>
  </form>
  <p>Already have an account? <a href="/login">Login Here</a></p>
  <script src="/js/signup.js"></script>
  <link rel="stylesheet" href="/css/signup.css" />
</div>
</section>