@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
    font-family: 'VT323', monospace; 
    color: #05ffda;


}
:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 5px;
    --card_small: 26;
    --card_med: 33;
    --card_large: 45;
  }
.pin_container {
    margin: 0;
    padding: 0;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
    background-color: white;
}
.card {
    padding: 0;
    margin: 15px 5px;
    border-radius: var(--card_border_radius);
    background-color: white;

}